@style

.red{"backgroundColor":"uicolor:red", "frame":[10,10,300,250]}
.blue{"backgroundColor":"uicolor:blue"}

@end


@layout

%UIView.none#backgroundview{"frame":[0,0,320,480], "backgroundColor":"pattern:leather.png"}
%UIView.blue#panel{"frame":[10,10,300,390], "cornerRadius":12.0, "alpha":0.6}
%UIImageView.hidden#image{"frame":[55,10,200,200], "image":"image:logo.png", "alpha":1.0}


@end