%UIView.#{"frame":[10,10,100,100], "backgroundColor":"uicolor:redColor", "cornerRadius":14.0}
	%UIView.#{"frame":[10,10,50,50], "backgroundColor":"uicolor:greenColor", "cornerRadius":14.0}
	
	-#commento
%UILabel.#{"frame":[0,0,50,50], "textColor":"uicolor:blueColor", "text":"sadsa"}